<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Document
		link(rel="stylesheet", href="bower_components/normalize.css")
		link(rel="stylesheet", href="css/bootstrap-grid-typography.min.css")
		link(rel="stylesheet", href="css/style.css")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		//- script(src="bower_components/parallax/deploy/parallax.min.js")
		link(rel="stylesheet", href="bower_components/flipcountdown/jquery.flipcountdown.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		script(src="bower_components/wow/dist/wow.min.js")
		script.
			new WOW().init();
	body
		.gradient
		.page
			include header.jade
			.container
				main
					h4.text-primary Моментальные лотереи «Fartmoney»
					.row.top-25.about
						.col-md-7
							p(style="margin-top: 0;") <b>«Fartmoney»</b> — лотерея с простыми правилами, где чем фартовей вы оказались — тем крупнее ваш выигрыш.
							p <b>Особенность «Fartmoney»</b> — возможность выигрывать больше и чаще благодаря правильно выбранной стратегии. Так, сделанная развернутая ставка многократно увеличивает и шансы на победу, и выигрыш. Увеличению итогового выигрыша также способствует использование символов учачи.
							p Рекордный суперприз был разыгран в 17053-м розыгрыше «Fartmoney»  составил 4 269 583 рубля. Игровая комбинация, принесшая крупнейший выигрыш, — 1, 2, 3, 4, 5, 6, 7.
							p Розыгрыши «Fartmoney»  проходят ежедневно, каждые 15 минут (с 05:00 до 06:00 по Москве — технический перерыв).
							p Стоимость минимальной ставки составляет 10 рублей.
						.col-md-4.col-md-offset-1.last-winner-number
							h4(style="margin-top: 0; line-height: 24px;") Результаты  последнего <a href="#">тиража №1120</a>
							br
							img(src="images/4.jpg", alt="")
							img(src="images/2.jpg", alt="")
							img(src="images/9.jpg", alt="")
							img(src="images/5.jpg", alt="")
							img(src="images/7.jpg", alt="")
							img(src="images/2.jpg", alt="")
							img(src="images/2.jpg", alt="")
							p(style="margin-top: 15px;") Сумма, выплаченная по итогам розыгрыша, составила
							h2.sum 2 750 ₽
				include footer.jade


		include footer-libs.jade