.modal
	h4 Вход
	form
		.row(style="margin-top: 35px;")
			.col-md-6
				label Адрес эл.почты
					input(type="email")
				label Пароль
					input(type="password")
					label <input type="checkbox"> Запомнить меня
				//- a.dashed(href="#") Забыли пароль?
				br
				button.btn Войти
			.col-md-5.col-sm-offset-1
				br
				p Вход через социальные сети
				.socials
					a(href="#")
						img(src="images/facebook.png", alt="")
					a(href="#")
						img(src="images/ok.png", alt="")
					a(href="#")
						img(src="images/vk.png", alt="")

