footer.footer
	.row
		.col-md-3
			h4 Fartmoney
			ul
				li
					a(href="#") Лотереи
				li
					a(href="about.html") О лотерее
				li
					a(href="#") Как играть?
				li
					a(href="#") Новости и акции
				li
					a(href="winners.html") Победители
				li
					a(href="#") Ваши мечты
				li
					a(href="#") Информационная поддержка
		.col-md-3
			h4 Как играть?
			ul
				li
					a(href="#") Как играть?
				li
					a(href="#") Как проходит розыгрыш?
				li
					a(href="#") Как распределяется призовой фонд?
				li
					a(href="#") Как получить выигрыш?
		.col-md-3.socials
			h4 Fartmoney в социальных сетях
			a(href="#")
				img(src="images/facebook.png", alt="")
			a(href="#")
				img(src="images/ok.png", alt="")
			a(href="#")
				img(src="images/vk.png", alt="")
		.col-md-3
			h4 Личный кабиент
			ul
				li
					a(href="#") Личные данные
				li
					a(href="wallet.html") Кошелек
				li
					a(href="awords.html") Награды
				li
					a(href="symbols.html") Символы удачи
				li
					a(href="#") Сообщения
	.row.bottom-part
		.col-md-3
			p © 2015 «Fartmoney»
		.col-md-3
			img(src="images/rating.png", alt="")
		.col-md-3
			img(src="images/coin.jpg", alt="")
		.col-md-3
			a(href="#")
				img(src="images/wf.png", width="50" alt="")
				span Webformula
