header.main-header
	.container-big
		.row
			.col-md-3
				img(src="images/user.png", alt="" style="margin-right: 10px;")
				a(href="#") Сычев Александр
			.col-md-6(style="text-align: center")
				a(href="#") В кошельке
				span  1570 руб.
				img(src="images/some-coin.png", alt="")
				a(href="#") Пополнить счет
			.col-md-3.socials
				a(href="#")
					img(src="images/facebook.png", alt="")
				a(href="#")
					img(src="images/ok.png", alt="")
				a(href="#")
					img(src="images/vk.png", alt="")
				a.ajax-popup-link(href="enter.html") Вход
				a.ajax-popup-link(href="registration.html") Регистрация
				a.ajax-popup-link(href="win.html") Выиграть
header.sub-header
	.container-big
		.col-one-fifth
			p Информационная поддержка
			span.big-font + 7 800 250-57-57
		.col-one-fifth
			img(src="images/cup.png", alt="")
			p Фартовых игроков
			span.big-font  9 271
		.col-one-fifth
			a(href="index.html")
				img(src="images/logo.png", alt="")
		.col-one-fifth
			img(src="images/money-header.png", alt="")
			p Общая сумма выигрышей
			span.big-font  3 764 352 руб
		.col-one-fifth
			p Розыгрыш каждые 15 минут
			p ближайший через:
			.counter(style="margin-top: 10px;")
		.clearfix
nav.nav-header
	.container
		h2 Моментальная лотерея
		ul
			li
				a(href="about.html") О лотерее
			li
				a(href="how-to-play.html") Как играть
			li
				a(href="#") Новости и акции
			li
				a(href="winners.html") Победители
			li
				a(href="dream.html") Ваши мечты
			li
				a(href="contacts.html") Контакты