<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Document
		link(rel="stylesheet", href="bower_components/normalize.css")
		link(rel="stylesheet", href="css/bootstrap-grid-typography.min.css")
		link(rel="stylesheet", href="css/style.css")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		//- script(src="bower_components/parallax/deploy/parallax.min.js")
		link(rel="stylesheet", href="bower_components/flipcountdown/jquery.flipcountdown.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		script(src="bower_components/wow/dist/wow.min.js")
		script.
			new WOW().init();
	body
		.gradient
		.page
			include header.jade
			.container
				main
					h4 Что такое «Fartmoney»?
					.row.top-25.about
						.col-md-7
							p «Fartmoney» — лотерея, в которой выигрывают те, у кого совпало большее количество чисел, и те, кто не угадал ни одного. Всего в игре предусмотрены три категории выигрышей.
							ul
								li
									a(href="#") Как проводится лотерея?
								li
									a(href="#") Как играть в «Счасливый стольник»?
								li
									a(href="#") Как проходит розыгрыш?
								li
									a(href="#") Как распределяется призовой фонд в игре «Счасливый стольник»?
								li
									a(href="#") Как узнать результат розыгрыша?
								li
									a(href="#") Как получить выигрыш?
						.col-md-4.col-md-offset-1
							h3(style="margin-top: 10px;") Видео инструкция
							img(src="images/monitor.jpg", alt="" style="margin-top: 30px; margin-left: -35px;")
							span Скачать: 
							a(href="#") How to Play.mpg
				include footer.jade


		include footer-libs.jade