.modal
	h3 Регистрация
	form
		.row
			.col-md-6
				label Имя
					input(type="text")
				label Электронная почта
					input(type="text")
				label Фамилия
					input(type="text")
				label
					label Проверочный код
					input(type="text")
				button.btn Зарегистрироваться
			.col-md-6
				label Пароль
					input(type="text")
				label Телефон
					input(type="text")
				label Повторите пароль
					input(type="text")
				h2(style="color: #fff") KDASS

