<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Document
		link(rel="stylesheet", href="bower_components/normalize.css")
		link(rel="stylesheet", href="css/bootstrap-grid-typography.min.css")
		link(rel="stylesheet", href="css/style.css")
		link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
		//- script(src="bower_components/parallax/deploy/parallax.min.js")
		link(rel="stylesheet", href="bower_components/flipcountdown/jquery.flipcountdown.css")
		link(rel="stylesheet", href="bower_components/animate.css/animate.min.css")
		script(src="bower_components/wow/dist/wow.min.js")
		script.
			new WOW().init();
	body
		.gradient
		.page
			include header.jade
			.container
				main
					.row
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
						.col-md-2.winner
							.winner-photo
								img(src="images/winner.jpg", alt="") 
							a(href="#") Антон Иванов
							h5 7 890 руб.
							i Счастливая сотня
				include footer.jade


		include footer-libs.jade